<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body>
    <h1>大錯特錯404</h1>
    <img src="love.gif" alt="描述你的 GIF 圖像">
</body>
</html>